{% extends "layout.html" %}
{% block body %}
<script type="text/javascript">

</script>
<div id="index">
    <div class="row">
        <div class="col-sm-12">
            <h3>Pi-Welcome</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="card bg-light" style="width: 100%">
                <div class="card-header bg-info">
                    <img src="{{ url_for('static',
                    filename='images/MBTA-LOGO-bw.png') }}", height="25px" />
                    MBTA Predictions
                </div>
                <div class="card-body">
                    test
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card bg-light" style="width: 100%">
                <div class="card-header bg-info">
                    <img src="{{ url_for('static',
                    filename='images/weather.png') }}", height="25px" />
                    Weather
                </div>
                <div class="card-body">
                    weather
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
